#include "../../MyVersionInfo.rc"
#include "resource2.rc"

MY_VERSION_INFO_DLL("RoxaZip Shell Extension", "RoxaZipShell")

#ifndef UNDER_CE
1 24 MOVEABLE PURE "RoxaZipShell.dll.manifest"
#endif

IDI_ICON ICON "../FileManager/FM.ico"
